body{
  background: url(https://wallpaperaccess.com/full/636723.jpg);
}



h1{
  color: black;
  background-color:red
  
 
  
  
}
{
  font-size: 50px;
  
}
h1{
  font-style: italic;
font-weight:  bold;
}

h1{
  text-align: center;
  font-size: 70px;
}



h2{
  text-align: center;
 



}

h3{
  text-align:center;
  font-weight:  bold;
  color:black;
   font-size: 30px;
}
