/*select tag{
  property: value;
}*/
body{
background:url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
}

div{
background:blue;
border-color: orange;
border-width: 4px;
border-style: double;
}



p{
  color: yellow;
}
 
span{
  background-color: red;
  color: black;
}